---
import "../styles/global.css";
import { Button } from "@/components/ui/button";
import Layout from "../layouts/Layout.astro";
import Background from "../assets/Background.astro";
import Blur from "../assets/Blur.astro";
---

<Layout>
    <Blur />
    <Background />
    <main
        class="p-4 flex flex-col flex-wrap lg:p-16 relative md:p-8 sm:p-2 z-10 bg-transparent h-dvh w-full dark justify-between content-center"
        id="main"
    >
        <div class="-mt-10 -ml-2">
            <a href="https://github.com/wer-zen">
                <img src="/svgs/logo.svg" alt="Logo" height="400" width="400" />
            </a>
        </div>

        <div>
            <h1 class="text-[#ffffff]">Welcome to my portfolio!</h1>
        </div>

        <div
            class="flex flex-initial items-start justify-start direction-row gap-4"
        >
            <a href="/src/pages/whoami.astro"
                ><Button size="lg" variant="outline">Who Am I?</Button></a
            >
            <a href="mailto:zenwerden@gmail.com"
                ><Button size="lg" variant="outline">Contact</Button></a
            >
        </div>
    </main>
</Layout>
