---
// Blurfx.astro
const { top = "0%", left = "0%" } = Astro.props;
---

<div class="blurred-effect" style={`top: ${top}; left: ${left};`}></div>

<style>
    .blurred-effect {
        background-color: #ff4f0050;
        filter: blur(250px);
        overflow: hidden;

        border-radius: 1000px;
        padding: 20px;
        margin: 10px;
        position: absolute;
        width: 500px;
        height: 500px;
        z-index: -100;
        animation:
            float 6s ease-in-out infinite,
            pulse;
    }
    @keyframes float {
        0%,
        100% {
            transform: translate(0, 0) scale(1);
        }
        25% {
            transform: translate(30px, -20px);
        }
        50% {
            transform: translate(-20px, 30px);
        }
        75% {
            transform: translate(20px, 10px);
        }
    }
    @keyframes pulse {
        0%,
        100% {
            transform: scale(1);
            opacity: 0.5;
        }
        50% {
            transform: scale(1.2);
            opacity: 0.8;
        }
    }
</style>
